@model PutAdViewModel

@{
    ViewData["Title"] = "Put an Advertisment";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Views" asp-action="PutAd">
    <div class="row">
        <h4>Put your Advertisment</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Area" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="Studio">
                        <input asp-for="Studio" />
                        @Html.DisplayNameFor(m => m.Studio)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="OneRoom">
                        <input asp-for="OneRoom" />
                        @Html.DisplayNameFor(m => m.OneRoom)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="TwoRooms">
                        <input asp-for="TwoRooms" />
                        @Html.DisplayNameFor(m => m.TwoRooms)
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="ThreeRooms">
                        <input asp-for="ThreeRooms" />
                        @Html.DisplayNameFor(m => m.ThreeRooms)
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Contact" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">SUBMIT</button>
            </div>
        </div>

    </div>

</form>